Encoding
Changing categorical data to numerical form.

1.Label Encoding
2.one hot Encoding
3.ordinal Encoding
4.Binary encoding
5.Count Encoding
6.Hash Encoding
7.woe encoding

why do we need encoding:
1. To convert categorical data to numerical form
2. To reduce the number of features
3. To reduce the bias
4. To reduce the variance
5. To improve the performance
6. To improve the accuracy
7. To prevent overfitting
8. To improve the interpretability
9. To reduce the computational complexity
10. To reduce the memory usage

In [ ]:

#import linraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load dataset of tips
df=sns.load_dataset('tips')

In [ ]:
df['time'].value_counts()

In [ ]:
#encoding time in label encoder with sklearn
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
le=LabelEncoder()
df['enc_l_time']=le.fit_transform(df['time'])
df.head()

In [ ]:
#ordinal encoding the day column
oe=OrdinalEncoder(categories=[['Thur','Fri','Sat','Sun']])
df['enc_o_day']=oe.fit_transform(df[['day']])
df.head()

In [ ]:
#one hot encoding on day column
ohe=OneHotEncoder()
df_ohe=ohe.fit_transform(df[['day']]).toarray()
df_ohe

In [ ]:
!pip install category_encoders

# use pandas for feature encoding

In [16]:
#featutre encoding using get dummies
# feature encoding using get dummies
get_dumm= pd.get_dummies(df,columns=['time'],drop_first=True)
get_dumm.head()

,total_bill,tip,sex,smoker,day,size,enc_l_time,enc_o_day,time_Dinner
0,16.99,1.01,Female,No,Sun,2,0,3.0,True
1,10.34,1.66,Male,No,Sun,3,0,3.0,True
2,21.01,3.50,Male,No,Sun,3,0,3.0,True
3,23.68,3.31,Male,No,Sun,2,0,3.0,True
4,24.59,3.61,Female,No,Sun,4,0,3.0,True