# Outliers
outlier/deviant/abnormality/anomalous pointapparent observations

Reasons:
1. Daa collection issue
2. Typography
3. Machine bug

Why to identify outliers:
1. ML model wont work correctly
2. center skewness
3. results vary

Types:
1. univariate
2. multivariate
3. global outlier
4. point outlier
5. local outlier
6. contextual

In [69]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [ ]:
# create data
data=pd.DataFrame({'Age':[21,22,23,24,26,25,26,27,28,29,60]})
data

In [ ]:
# calaculate mean and standard deviation
mean=data['Age'].mean()
std=data['Age'].std()
print(mean)
print(std)

In [ ]:
#calculate z-score
z_score=(data['Age']-mean)/std
z_score

In [ ]:
# find outliers
outliers = data[(z_score > 2.5) | (z_score < -3)]
outliers

In [ ]:
#INTEPRETION OF Z-SCORE and OUTLIERS
print("Mean: ",mean)
print("Standard Deviation: ",std)
print("Z-Score: ",z_score)
print("Outliers: ",outliers)
print()

# with scipy library

In [70]:
# create data
data = pd.DataFrame({'Age': [21, 22, 23, 24, 26, 25, 26, 27, 28, 29, 60]})
data

    Age
0    21
1    22
2    23
3    24
4    26
5    25
6    26
7    27
8    28
9    29
10   60

In [75]:
# calculate z-score 
z_score = stats.zscore(data['Age'])

In [76]:
# identify outliers
outliers = data[(z_score > 2.5) | (z_score < -3)]
outliers

Empty DataFrame
Columns: [Age]
Index: []

In [77]:
# print the results
#print the data
print('Data:', data)
print("---------")
print("Z-Score: ", z_score)
print("---------")
print("---------")

Data:    Age
0   21
1   22
2   23
3   24
4   26
5   25
6   26
7   27
8   28
9   29
---------
Z-Score:  0   -1.661404
1   -1.256183
2   -0.850963
3   -0.445742
4    0.364698
5   -0.040522
6    0.364698
7    0.769919
8    1.175139
9    1.580360
Name: Age, dtype: float64
---------
---------

In [78]:



#print indices of outlier
print("Indices of outliers: ", data[(z_score > 2.5) | (z_score < -3)].index)
print("---------")
print("Outliers: ", outliers)
print("---------")

#remove outlier
data.drop(data[(z_score > 2.5) | (z_score < -3)].index, inplace=True)
print("Data after removing outliers: ", data)

Indices of outliers:  Index([], dtype='int64')
---------
Outliers:  Empty DataFrame
Columns: [Age]
Index: []
---------
Data after removing outliers:     Age
0   21
1   22
2   23
3   24
4   26
5   25
6   26
7   27
8   28
9   29

# with IQR method

In [80]:
# create data
data = pd.DataFrame({'Age': [21, 22, 23, 24, 26, 25, 26, 27, 28, 29, 60]})
data

    Age
0    21
1    22
2    23
3    24
4    26
5    25
6    26
7    27
8    28
9    29
10   60

In [81]:
# calculate first and third quartile
Q1 = data['Age'].quantile(0.25)
Q3 = data['Age'].quantile(0.75)

# calulating IQR
IQR = Q3 - Q1

#calutating lower and upper bound
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# identify outliers
outliers = data[(data['Age'] < lower_bound) | (data['Age'] > upper_bound)]

print("Outliers:", outliers)

Outliers:     Age
10   60

In [ ]:
#print the results
print("Outliers:", outliers)
print("---------")

In [82]:
#remove outliers
data = data[(data['Age'] >= lower_bound) & (data['Age'] <= upper_bound)]
print("Data after removing outliers:", data)

Data after removing outliers:    Age
0   21
1   22
2   23
3   24
4   26
5   25
6   26
7   27
8   28
9   29

# with K-Means

In [83]:
# create data
data = pd.DataFrame({'Age': [21, 22, 23, 24, 26, 25, 26, 27, 28, 29, 60]})
data

    Age
0    21
1    22
2    23
3    24
4    26
5    25
6    26
7    27
8    28
9    29
10   60

In [84]:
# create k-means model with 2 clusters (normal and outlier)
kmeans = KMeans(n_clusters=2,n_init=10)
kmeans.fit(data)

#predict cluster lables
labels = kmeans.predict(data)

#identify cluster based on outlier
outlier_label = labels[-1]

print("Cluster label of the outlier:", outlier_label)

NameError: name 'KMeans' is not defined