In [ ]:
# import libraries
import pandas as pd
import scipy.stats as stats
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
# sample data growth of plant with different seeds
seed1= [15,20,23,26,29]
seed2= [16,12,23,18,26]
seed3= [17,20,19,22,24]

#perform one-way anova
fvalue, pvalue = stats.f_oneway(seed1, seed2, seed3)

# print results
print("One-way ANOVA results:")
print("F-value:", fvalue)
print("P-value:", pvalue)

# interpret results
if pvalue < 0.05:
    print("The results are statistically significant.")
else:
    print("The results are not statistically significant.")

In [ ]:
! pip install statsmodels

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
# create dataframe
df = pd.DataFrame({'Seed': ['seed1']*5 + ['seed2']*5+ ['seed3']*5,
                   'Growth':seed1+seed2+seed3})
df

In [ ]:
df.value_counts()

In [ ]:
# fit the model
model = smf.ols('Growth ~ Seed', data=df).fit()

In [ ]:
# perform ANOVA test and print summary table
anova_table = sm.stats.anova_lm(model)
print(anova_table)

In [ ]:
# interpret results
if pvalue < 0.05:
    print("The results are statistically significant.")
else:
    print("The results are not statistically significant.")

# One way ANOVA using stats model

In [23]:
# fit the model
model = smf.ols('Growth ~ Seed', data=df).fit()

#perform ANOVA test and print summary table
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

# interpret the results
if pvalue < 0.05:
    print("The results are statistically significant.")
else:
    print("The results are not statistically significant.")

              sum_sq    df         F    PR(>F)
Seed       32.933333   2.0  0.730769  0.501787
Residual  270.400000  12.0       NaN       NaN
The results are not statistically significant.

# two way Anova

In [24]:
df = pd.DataFrame({'Seed': ['seed1']*5 + ['seed2']*5+ ['seed3']*5,
                   'Growth':seed1+seed2+seed3})

     Seed  Growth
0   seed1      15
1   seed1      20
2   seed1      23
3   seed1      26
4   seed1      29
5   seed2      16
6   seed2      12
7   seed2      23
8   seed2      18
9   seed2      26
10  seed3      17
11  seed3      20
12  seed3      19
13  seed3      22
14  seed3      24