# Google Playstore Data (Large)
### Complete EDA Analysis

**About Dataset**\
Google PlayStore Android App Data. (2.3 Million+ App Data)\


This data is from Google playstore that has all necessary columns to understand the How apps are doing on the platform. 

**Content** The data was collected in the month of June 2021.

**What you can expect from Analysis:**

---

# 01 Importing Libraries

In [ ]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot  as plt
from scipy import stats
%matplotlib inline

---

# Setting Code Space

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

---

# Loading Data

In [ ]:
df=pd.read_csv(r"E:\Data Sciences\Sample Data\Google-Playstore.csv")

---

# Data Insight

In [ ]:
df.head()

In [ ]:
column_names=df.columns

In [ ]:
df.describe()

In [ ]:
df.info()

---

# Observations

There are 24 columns and 21,489 rows
Multiple data types


1. Installs is object,+ sign,NaN
2. Price colmn $ sign
3. Minimum Android is object
4. Size Column is object
5. Ad supported is boolean
6. Inapp
7. Editors choice
8. **Size, Installs and Price** needs to be converted to nuemeric data type



> **adressing all columns one by one**

---

## Null data

In [ ]:
df.isnull().sum()

In [ ]:
null_perc=(df.isnull().sum()/len(df))*100
null_perc

In [ ]:
for column in column_names:
  print(f" There are {(df[column].isnull().sum()/len(df[column]))*100:.3f} % null values in {column}" )

---

# Columns Fixing

## Installs 
1. Symbols replacement
2. Changing Data Tpe to float
3. Removing Nulls Statistically
4. Binning

In [ ]:
df['Installs']

Symbols of , and + needs to be removed.

In [ ]:
#symbols replacement
df['Installs']=df['Installs'].apply(lambda x:x.replace("+","") if "+" in str(x) else x)
df['Installs']=df['Installs'].apply(lambda x:x.replace(",","") if "," in str(x) else x)
df['Installs']=df['Installs'].apply(lambda x:float(x))

In [ ]:
#if you want output as natural number instead of scientific notion
# temp_installs=df['Installs'].unique().astype(int)
# temp_installs

In [ ]:
# adressing null values
df['Installs']=df['Installs'].fillna(df['Installs'].mean())
Installs_nan=df['Installs'].isnull().sum()
print(f"There are ' {Installs_nan} ' null values in Install Column now")

**Binning**

Binning data in to 8 Bins, to perform analysis fluently.

In [ ]:
bins=[-10,10,100,1000,10000,100000,1000000,10000000,100000000]
labels=['Negligible','Very Low <100','Low <1000','So So <10k','Moderate <100k','High <1M','Very High <10M','Amazing <100M']
df['Installs_Category']=pd.cut(df['Installs'],bins=bins,labels=labels)
df['Installs_Category'].value_counts()

---

## Size Column

1. Removal of symbols +'',varies with device M k
2. Imputing Null Values
3. Changing data type
4. Coverting data into nuemeric million,thousand etc

In [ ]:
df['Size'].unique()

In [ ]:
df['Minimum Android']
df['Size'] = df['Size'].apply(lambda x: x.replace(",", "") if "," in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("Varies with device", "999") if "Varies with device" in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("Varieswithdevice", "999") if "Varieswithdevice" in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("'", "") if "'" in str(x) else x)

In [ ]:
df['Size']

In [ ]:
def convert_size(Size):
  if isinstance(Size,str):
    if 'k' in Size:
      return float(Size.replace('k',''))*1024
    elif 'M' in Size:
      return float(Size.replace('M',''))*1024*1024
    elif 'G' in Size:
      return float(Size.replace('G',''))*1024*1024*1024
  return Size

In [ ]:
df['Size']=df['Size'].apply(convert_size)
df['Size']

Data is in nuemeric form now.

In [ ]:
df['Size']=df['Size'].astype(float)

Missing Data Imputations

In [ ]:
df['Size']=df['Size'].fillna(df['Size'].mean())

In [ ]:
size_null=df['Size'].isnull().sum()
print(f"There are ' {size_null} ' null values in Size Column now")

---

## Minimum Android

In [ ]:
df['Minimum Android'].unique()

In [ ]:

df['Minimum Android']=df['Minimum Android'].apply(lambda x:x.replace(" and up","") if " and up" in str(x) else x)
df['Minimum Android']=df['Minimum Android'].apply(lambda x:x.replace("W","") if "W" in str(x) else x)
df['Minimum Android']=df['Minimum Android'].apply(lambda x:x.replace("Varies with device","nan") if "Varies with device" in str(x) else x)

In [ ]:
df['Minimum Android'].unique()

It is difficult to setup this colum due to string data like 1.5 - 3.2 etc, need to think of some other method.

In [ ]:
# changing the data type
#df['Minimum Android']=df['Minimum Android'].astype(float)

---

# Rating & Rating Count

In [ ]:
df['Rating']=df['Rating'].fillna(df['Rating'].mean())
df['Rating Count']=df['Rating Count'].fillna(df['Rating Count'].mean())

---

## Price Column

In [ ]:
df['Price'].unique()

In [ ]:
 df['Price'].value_counts()

In [ ]:
 #df['Price'].astype(int64)

In [ ]:
#df['Price'].loc[df['Price'].str.contains('0') & (~df['Price'].str.contains('\$'))].value_counts().sum()

In [ ]:
#df['Price'].loc[df['Price'].str.contains('\$')].value_counts().sum()

---
---

# Descriptive Statistics

In [ ]:
df.describe()

# Missing Values

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sort_values(ascending=False)

In [ ]:
(df.isnull().sum()/len(df)*100).sort_values(ascending=False)
#null_perc.sort_values(ascending=False)

# Data Visualization


> Missing Values

---

In [ ]:
df.isnull().sum().sum()

### **Heatmap**

In [ ]:
plt.figure(figsize=(16,6))
sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

### **Bar Plot**

In [ ]:
plt.figure(figsize=(14,7))
null_perc.plot(kind='bar')

plt.xlabel('Columns')
plt.ylabel('Percentage')
plt.title(' Missing Values Percentage')

In [ ]:
#with filter of <1%
plt.figure(figsize=(14,7))
null_perc[null_perc<1].plot(kind='bar')

plt.xlabel('Columns')
plt.ylabel('Percentage')
plt.title(' Missing Values Percentage')

Now we have 3 more columns in data describe, due to change in data type

## Corelation Matrix

In [ ]:
df.describe()

In [ ]:
plt.figure(figsize=(12,6))
num_col=['Rating','Installs','Price','Size','Rating Count']
sns.heatmap(df[num_col].corr(), annot=True)

Only good correlation is of Installs Vs Rating, that makes sense as well.

Correlation matrix in pandas

In [ ]:
df[num_col].corr()

Pearsons R shows strength in linear relationship.

In [ ]:
df_clean=df.dropna()
#,_ is used to ignore the 2nd value, which in this case is p value
pearson_r,_=stats.pearsonr(df_clean['Rating Count'], df_clean['Installs'])
print(f" The Pearson's R value is {pearson_r:3f}")

Groupby

In [ ]:
df.groupby('Installs_Category')['Rating'].describe()

In [ ]:
df.isnull().sum()

In [ ]:
df['Installs_Category'].loc[df['Rating'].isnull()].value_counts()

In [ ]:
plt.figure(figsize=(16,8))
sns.boxplot(x='Installs_Category',y='Rating',hue='Installs_Category',data=df)

plt.text(0,3.5,'Null Values=84')
plt.text(1,3.5,'Null Values=45')
plt.text(2,3.5,'Null Values=28')